<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pruebasherlock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Braim Mobile"
        android:theme="@style/ExampleTheme" >
        <activity
            android:name="com.braim.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Braim Mobile"
            android:screenOrientation="portrait"
            android:theme="@style/ExampleTheme" >
        </activity>
        <activity
            android:name="com.braim.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.braim.ReproductorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.braim.EntrenamientoActivity"
            android:label="@string/title_activity_entrenamiento" >
        </activity>
        <activity
            android:name="com.braim.HttpActivity"
            android:label="@string/title_activity_http"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" >
        </activity>
    </application>

</manifest>
